$twitHref: #1da1f2;
$success-bootstrap: #5cb85c;
$warning-bootstrap: #ec971f;

.no-margin{
	margin: 0;
}
.no-pad{
	padding: 0;
}
.no-pl{
	padding-left: 0;
}
.no-pr{
	padding-right: 0;
}
.no-pt{
	padding-top: 0;
}
.no-pb{
	padding-bottom: 0;
}
.pt-5{
	padding-top: 5px;
}
.pb-5{
	padding-bottom: 5px;
}
.pr-10{
	padding-right: 10px;
}
.pl-10{
	padding-left: 10px;
}
.add-padding{
	padding: 5px 10px;
}
.center{
	text-align: center;
}
.mt-15{
	margin-top: 15px;
}

.th-center{
	th{
		text-align: center;
	}
}

.select-modif {
	option{
		margin: 40px;
	}
}
.bb-black{
	border-bottom: 1px solid #333;
}
.bl-success{
	border-left: 6px solid $success-bootstrap;
}

.bl-warning{
	border-left: 6px solid $warning-bootstrap;
}

.bg-success-15{
	background-color: lighten($success-bootstrap, 15%);
}


// input.ng-invalid.ng-touched{
// 	border-color: #f37272;
// }

// input.ng-valid.ng-touched{
// 	border-color: #58df88;
// }
