$twitHref: #1da1f2;

.no-margin{
	margin: 0;
}
.no-pad{
	padding: 0;
}
.no-pl{
	padding-left: 0;
}
.no-pr{
	padding-right: 0;
}
.no-pt{
	padding-top: 0;
}
.no-pb{
	padding-bottom: 0;
}

.center{
	text-align: center;
}
.mt-15{
	margin-top: 15px;
}

.th-center{
	th{
		text-align: center;
	}
}
// input.ng-invalid.ng-touched{
// 	border-color: #f37272;
// }

// input.ng-valid.ng-touched{
// 	border-color: #58df88;
// }
