{% extends '::base.html.twig' %}

{% block body %}
  <header>
    <nav class="navbar navbar-default fixed-top">
      <div class="container-fluid">
        <div class="navbar-head">
          <a href="" class="navbar-brand"></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href=""></a></li>
          <li><a href="Active">Numerical Method</a></li>
        </ul>
      </div>
    </nav>
  </header>
  {% block main_content %}{% endblock %}
  <footer>
    <div class="row">
      <div class="container-fluid center">
        Ferry Irawan <br>
        Copyright <span class="fa fa-copyright"></span> 2016
      </div>
    </div>
  </footer>
{% endblock %}