<div id="signup" class="tab-pane fade in">
  <h1>Form Sign-Up</h1>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-xs-3 control-label">Username : </label>
      <div class="col-xs-5">
        <input class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Name : </label>
      <div class="col-xs-5"><input class="form-control"></div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Password : </label>
      <div class="col-xs-5"><input class="form-control"></div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Confirm Password : </label>
      <div class="col-xs-5"><input class="form-control"></div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Birth Place : </label>
      <div class="col-xs-5"><input class="form-control"> </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Birth Date : </label>
      <div class="col-xs-5"><input type="date" class="form-control"> </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Address : </label>
      <div class="col-xs-5"><input class="form-control"></div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Upload Picture :</label>
      <div class="col-xs-5"><input type="file" class="form-control"></div>
    </div>
    <div class="form-group">
      <div class="col-xs-2"></div>
      <button class="btn btn-success">Sign-Up</button>
    </div>
  </form>
</div>
<div id="signin" class="tab-pane fade in">
  <h1>Form Sign-In</h1>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-xs-3 control-label">Username : </label>
      <div class="col-xs-5">
        <input class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Password : </label>
      <div class="col-xs-5">
        <input class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-2"></div>
      <button class="btn btn-success">Sign-In</button>
    </div>
  </form>
</div>
<div id="searchConsult" class="tab-pane fade in">
  <h1>Search for a Consultant</h1>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-xs-3 control-label" for="consultName">Consultant Name : </label>
      <div class="col-xs-5">
        <input id="consultName" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-3"></div>
      <div class="col-xs-5">
        <button class="btn btn-success">or View all of Consultants List <div class="badge"><i class="fa fa-search"></i></div></button>
      </div>
    </div>
  </form>
</div>
<div id="userAsk" class="tab-pane fade in">
  <h1>Ask Question</h1>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-xs-5">Ask question to <b>Mr. Consultant 2</b></div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="question">Question : </label>
      <div class="col-xs-9">
         <textarea id="question" rows="8" class="form-control" placeholder="Ask something dear Member. I'll help you ..."></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-3"></div>
      <div class="col-xs-5">
        <button class="btn btn-success"><i class="fa fa-send"></i></button>
      </div>
    </div>
  </form>
</div>
<div id="viewUserAsk" class="tab-pane fade in">
  <h1>Member Questions</h1>
  <form class="form-horizontal" role="form">
    <h4>Member11 ask a question to you</h4>
    <div class="form-group">
      <label class="col-xs-3 control-label" for="question">Question : </label>
      <div class="col-xs-9">
         <textarea id="question" rows="8" class="form-control" placeholder="Ask something dear Member. I'll help you ..." disabled>
          Dear Mr. Consultant 2. I want to ask about Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">Your answer : </label>
      <div class="col-xs-9">
        <textarea rows="8" class="form-control" placeholder="Answer"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-3"></div>
      <div class="col-xs-5">
        <button class="btn btn-success">Reply <i class="fa fa-reply"></i></button>
      </div>
    </div>
  </form>
</div>
