<div id="fourth-2" class="tab-pane fade in" data-ng-controller="">
  <div class="mt-15">
    <span class="fa fa-link"></span>
    <div class="badge">Gauss-Jordan Method</div>
  </div>
  <div style="margin-top:15px">
    <form id="gaussJordanForm">
    {% verbatim %}
    {% endverbatim %}
    </form>
  </div>
</div>