<div id="secondWeek" class="panel-collapse collapse" data-ng-controller="bisectionController">
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#second-1" data-toggle="tab">Bisection Method</a>
      </li>
      <li>
        <a href="#second-2" data-toggle="tab">Regula Falsi Method</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-info-sign"></span> <b>Info</b>
        <ul>
          <li>
            Input the number field and the power field first to make a function. <br>
            Ex: To make <kbd>3x<sup>2</sup> - 4</kbd>
            <ol>
              <li>Type '3' (without quotation) in <u>number field</u>.</li>
              <li>Check the box to add variable then type '4' in <u>power field</u>, than click 'Add' button.</li>
              <li>Then type '-4' in <u>number field</u>.</li>
              <li>Check the box and type '0' (zero) in <u>power field</u> or just uncheck it, than click 'Add' button</li>
            </ol>
          </li>
          <li>The input of <i>'Left Position'</i> mustn't bigger than <i>'Right Position'</i>.</li>
          <li>In this Calculation, if there's ten iteration that have the same number, it will break. If we continue it, it'll just be an infinite loop.</li>
        </ul>
      </div>
      {% include 'AppBundle:Includes:bisection.html.twig' %}
      {% include 'AppBundle:Includes:regula_falsi.html.twig' %}
    </div>
  </div>
</div>