<div id="thirdWeek" class="panel-collapse collapse">
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#third-1" data-toggle="tab">Direct Method</a>
      </li>
      <li>
        <a href="#third-2" data-toggle="tab">Newton-Raphson Method</a>
      </li>
      <li>
        <a href="#third-3" data-toggle="tab">Secant Method</a>
      </li>
    </ul>
    <div class="tab-content">
      {% include 'AppBundle:Includes:direct_method.html.twig' %}
      {% include 'AppBundle:Includes:newton-raphson.html.twig' %}
    </div>
  </div>
</div>
